.signup-main
  .signup-main__contents
    %h2.signup-main__head
      住所情報登録
    = form_for @address do |f|
      .signup-main__input
        .signup-main__inf
          = render "devise/shared/error_messages", resource: @address
          = f.label :post,"郵便番号"
          %span.signup-main__require
            必須
          %br/
          = f.text_field :post
        .signup-main__inf
          = f.label :prefectures,"都道府県"
          %span.signup-main__require
            必須
          %br/
          = f.text_field :prefectures
        .signup-main__inf
          = f.label :city,"市区町村"
          %span.signup-main__require
            必須
          %br/
          = f.text_field :city
        .signup-main__inf
          = f.label :number,"番地"
          %span.signup-main__require
            必須
          %br/
          = f.text_field :number
        .signup-main__inf
          = f.label :building,"マンション名.ビル名"
          %span.signup-main__require
            任意
          %br/
          = f.text_field :building
        .signup-main__inf
          = f.label :phone,"電話番号"
          %span.signup-main__require
            任意
          %br/
          = f.text_field :phone
        .actions
          = f.submit "Sign up"
          = render "devise/shared/links"
