.mypage_contents
  .mypage-main
    .mypage-main__name
      ようこそ
      = current_user.nickname
      さん
    .mypage-main__exhibited
      = current_user.nickname
      さんの出品一覧
      - @items.each do |item|
        .mypage-images
          = link_to item_path(item), class:"link"do
            .mypage-img
              = image_tag item.images[0].image.url, size:"300x300" , alt:"商品写真"
            .mypage-body
              .mypage-item
                = item.name
              .mypage-details
                ="#{item.price}円"
                .mypage-tax
                  (税込)