.topaiai
  .topaiai__nbnb
    %h2.topaiai__nbnb__tyty だれでもかんたん、人生を変えるフリマアプリ
    %p.topaiai__nbnb__tyty2 今すぐ無料ダウンロード！
    .topaiai__nbnb__iccc
      .topaiai__nbnb__iccc__one
        = link_to '#' do
          = image_tag ("http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg")
      .topaiai__nbnb__iccc__secd
        = link_to '#' do
          = image_tag ("http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg")
.foofoo
  %ul.foofoo__cotr
    %li.foofoo__cotr__tei1
      %h2.foofoo__cotr__tei1__okm1 FURIMAについて
      %ul
        %li
          %a{href: '#'} 会社概要（運営会社）
        %li
          %a{href: '#'} プライバシーポリシー
        %li
          %a{href: '#'} FURIMA利用規約
        %li
          %a{href: '#'} ポイントに関する特約
    %li.foofoo__cotr__tei1
      %h2.foofoo__cotr__tei1__okm1 FURIMAを見る
      %ul
        %li
          %a{href: '#'} カテゴリー一覧
        %li
          %a{href: '#'} ブランド一覧
    %li.foofoo__cotr__tei1
      %h2.foofoo__cotr__tei1__okm1 ヘルプ＆ガイド
      %ul
        %li
          %a{href: '#'} FURIMAガイド
        %li
          %a{href: '#'} FURIMAロゴ利用ガイドライン
        %li
          %a{href: '#'} お知らせ
  .foofoo__ffffuuu
    = link_to '/' do
      = image_tag ("logo-white.png")
  %p © FURIMA
%a{href: '#'}
  .pppbtn
    %span.pppbtn__text 出品する
    = image_tag ("icon_camera.png")
    