!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
    
  %section.pickupContainer1
    %h2.item_head
      新規出品商品
    .productBox
      .productHead
        - @items_index.each do |item|
          .productList1
            = link_to item_path(item), class:"link"do
              %figure.productList--img
                = image_tag item.images[0].image.url, size:"250x200" , alt:"商品写真"
            .productList--body
              %h3.name
                = item.name
              .details
                %ul
                  %li
                    ="#{item.price}円"
                %p.tax
                  (税込)
            -if item.buyer_id == 0
            -else
              .item-box_photo__sold
                .item-box_photo__sold__inner
                  SOLD
      .pagenation
        = paginate @items_index
  


  %section.pickupContainer
    %h2.item_head
      ピックアップカテゴリ

    .productBoxes
      .productBox
        .productHeads
          %h3.topic
            レディース
          .productList
            - if @last_ladies_item == nil
              %h3
                このカテゴリの新規投稿商品はありません。
            - else
              = link_to item_path(@last_ladies_item), class:"link" do
                %figure.productList--img
                  = image_tag @last_ladies_item.images[0].image.url,size:"250x200" , alt:"商品写真"
              .productList--body
                %h3.name
                  = @last_ladies_item.name
                .details
                  %ul
                    %li.en
                      = "#{@last_ladies_item.price}円"
                    %li
                  %p.tax
                    (税込)
              -if @last_ladies_item.buyer_id == 0
              -else
                .items-box_photo__sold
                  .items-box_photo__sold__inner
                    SOLD

      .productBox
        .productHeads
          %h3.topic
            メンズ
          .productList
            - if @last_mens_item == nil
              %h3
                このカテゴリの新規投稿商品はありません。
            - else
              = link_to item_path(@last_mens_item), class:"link" do
                %figure.productList--img
                  = image_tag @last_mens_item.images[0].image.url,size:"250x200" , alt:"商品写真"
              .productList--body
                %h3.name
                  = @last_mens_item.name
                .details
                  %ul
                    %li.en
                      = "#{@last_mens_item.price}円"
                    %li
                  %p.tax
                    (税込)
              -if @last_mens_item.buyer_id == 0
              -else
                .items-box_photo__sold
                  .items-box_photo__sold__inner
                    SOLD
      .productBox
        .productHeads
          %h3.topic
            ベビー・キッズ
          .productList
            - if @last_babies_item == nil
              %h3
                このカテゴリの新規投稿商品はありません。
            - else
              = link_to item_path(@last_babies_item), class:"link" do
                %figure.productList--img
                  = image_tag @last_babies_item.images[0].image.url,size:"250x200" , alt:"商品写真"
              .productList--body
                %h3.name
                  = @last_babies_item.name
                .details
                  %ul
                    %li.en
                      = "#{@last_babies_item.price}円"
                  %p.tax
                    (税込)
              -if @last_babies_item.buyer_id == 0
              -else
                .items-box_photo__sold
                  .items-box_photo__sold__inner
                    SOLD

      .productBox
        .productHeads
          %h3.topic
            家電・スマホ・カメラ
          .productList
            - if @last_appliances_item == nil
              %h3
                このカテゴリの新規投稿商品はありません。
            - else
              = link_to item_path(@last_appliances_item), class:"link" do
                %figure.productList--img
                  = image_tag @last_appliances_item.images[0].image.url,size:"250x200" , alt:"商品写真"
              .productList--body
                %h3.name
                  = @last_appliances_item.name
                .details
                  %ul
                    %li.en
                      = "#{@last_appliances_item.price}円"
                  %p.tax
                    (税込)

              -if @last_appliances_item.buyer_id == 0
              -else
                .items-box_photo__sold
                  .items-box_photo__sold__inner
                    SOLD







