.wrapper
  = render "top-contents"
.form1
  .contents
    = form_with model:@item, local:true do |f|
      .new_constraint
        .new_imageindicate
          出品画像
        .new_image-coution
          (1枚〜4枚まで)
        .new_imagemust 
          ※必須
      .edit_hidden-content
        #image-box
          #previews
            - if @item.persisted?
              - @item.images.each_with_index do |image, i|
                = image_tag image.image.url, data: { index: i }, width: "245", height: '200',class: 'edit-image'
          .edit_block
            = f.fields_for :images do |image|
              .js-file_group{"data-index" => "#{image.index}"}
                = image.file_field :image, class: 'js-file'
                %br/
                %span.js-remove 削除
              - if @item.persisted?
                = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
            - if @item.persisted?
              .js-file_group{"data-index" => "#{@item.images.count}"}
                = file_field_tag :image, name: "item[images_attributes][#{@item.images.count}][image]", class: 'js-file'
                .js-remove 削除
        .listing-form-box
          .listing-product-detail__category
            = f.label 'カテゴリー', class: 'listing-default__label'
            %span.listing-default--require ※必須
            
            .listing-select-wrapper
              .listing-select-wrapper__box
                = f.collection_select :category_id, @item.category.root.siblings, :id, :name, {selected: @item.category.root.id}, {class: 'listing-select-wrapper__box--select',name: 'parent_id', id: 'parent_category'}
                %i.fas.fa-chevron-down.listing-select-wrapper__box--arrow-down
                = f.collection_select :category_id, @item.category.parent.siblings, :id, :name, {include_blank: "---",selected: @item.category.parent.id}, {class: 'listing-select-wrapper__box--select',name: 'child_id', id: 'parent_category1'}
                
                = f.collection_select :category_id, @item.category.siblings, :id, :name, {include_blank: "---",selected: @item.category.id}, {class: 'listing-select-wrapper__box--select', id: 'parent_category2'}
      .name1
        .item
          .iteminfo
            .iteminfo__name
              商品名
            .iteminfo__must
              ※必須
          = f.text_field :name, placeholder:"商品名記載",class: "nameform"
      .explain
        .item
          .iteminfo
            .iteminfo__name
              説明
            .iteminfo__must
              ※必須
          = f.text_area :explain, placeholder:"詳細記載",class: "explainform" 
      .brand
        .item
          .iteminfo
            .iteminfo__name
              ブランド
            .iteminfo__must
              ※任意
          = f.text_field :brand, placeholder:"指定なし",class: "nameform"
      .status
        .status-info
          .status-info__name
            商品の状態
          .status-info__must
            ※必須
          = f.collection_select :status_id ,Status.all, :id,:name ,class: "statusform"
      .area
        .areainfo
          .areainfo__name
            発送元の地域
          .areainfo__must
            ※必須
          = f.collection_select :area_id ,Area.all, :id,:name ,class: "statusform"
      .limit
        .limitinfo
          .limitinfo__name
            発送までの日数
          .limitinfo__must
            ※必須
          = f.collection_select :limit_id ,Limit.all, :id,:name ,class: "limitform"
      .delivery_cost 
        .deliveryinfo
          .deliveryinfo__name
            配送料の負担
          .deliveryinfo__must
            ※必須
          = f.collection_select :delivery_cost_id ,DeliveryCost.all, :id,:name,class: "deliveryform"
      .price-info
        .price-info__box
          .price-info__box__name
            価格
          .price-info__box__must
            ※必須
          = f.text_field :price , placeholder:" 販売価格(300~2,000,000)",class: ".price-info__box__form"

      .edit_box
        .edit_new
          = f.submit "更新して出品する",class: "edit_newbtn"
    