%body
  %header.taitolhead
    .taitolhead__headna
      .taitolhead__headna__headmai
        %h1.taitolhead__headna__headmai__icon1
          = link_to '#' do
            = image_tag ("logo.png") 
        .taitolhead__headna__headmai__kenbox
          %input{type: "text", class: "taitolhead__headna__headmai__input-box", "placeholder": "キーワードから探す"}
          .taitolhead__headna__headmai__input-isu
            = link_to '#' do
              = image_tag ("icon-search 1.png")
    .taitolhead__navi
      %ul.taitolhead__navi__list
        %li.taitolhead__navi__list__li1 
          = link_to '#' do
            %a#btn1 カテゴリー
        %li.taitolhead__navi__list__li2
          = link_to '#' do
            %a#btn2 ブランド
-# =======
-#             = image_tag ("http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg")
-#   .topfufu
-#     %h2.topfufu__hehe
-#       FURIMAの特徴
-#       %after
-#     .topfufu__iteite
-#       .topfufu__iteite__yuyu
-#         .topfufu__iteite__yuyu__rsrs
-#           = image_tag ("icon-01.png")
-#         %h3.topfufu__iteite__yuyu__fdfd 簡単に売り買いできる
-#         %p.topfufu__iteite__yuyu__wawa
-#           スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
-#       .topfufu__iteite__yuyu2
-#         .topfufu__iteite__yuyu2__rsrs2
-#           = image_tag ("icon-03.png")
-#         %h3.topfufu__iteite__yuyu2__fdfd2 売上金は即日振込みに対応
-#         %p.topfufu__iteite__yuyu2__wawa2
-#           午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
-#       .topfufu__iteite__yuyu3
-#         .topfufu__iteite__yuyu3__rsrs3
-#           = image_tag ("icon-04.png")
-#         %h3.topfufu__iteite__yuyu3__fdfd3 様々な支払いに対応
-#         %p.topfufu__iteite__yuyu3__wawa3
-#           お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
-#   .wrapper
-#     = render "bottom-contents"


          
  




-# >>>>>>> parent of bf94aba... Merge pull request #14 from key390/top_items
  = render "items_top"
