%body
  %header.taitolhead
    .taitolhead__headna
      .taitolhead__headna__headmai
        %h1.taitolhead__headna__headmai__icon1
          = link_to '/' do
            = image_tag ("logo.png") 
        .taitolhead__headna__headmai__kenbox
          %input{type: "text", class: "taitolhead__headna__headmai__input-box", "placeholder": "キーワードから探す"}
          .taitolhead__headna__headmai__input-isu
            = link_to '#' do
              = image_tag ("icon-search 1.png")
      .taitolhead__headna__navi
        %ul.taitolhead__headna__navi__list
          %li.taitolhead__headna__navi__list__li1 
            %a{href: '#' , id: 'btn1'} カテゴリー
          %li.taitolhead__headna__navi__list__li2
            %a{href: '#' , id: 'btn2'} ブランド
        %ul.taitolhead__headna__navi__list2
          %li.taitolhead__headna__navi__list2__lis3
            %a{href: '#' , id: 'btn3'} ログイン
          %li.taitolhead__headna__navi__list2__lis4
            %a{href: '#' , id: 'btn4'} 新規会員登録
  .manini
    .manini__hi
      .manini__hi__ki
        %h2.manini__hi__ki__taitosub
          %br 人生を変えるフリマアプリ
        %p.manini__hi__ki__taitosub2
          FURIMAはだれでもかんたんに出品・購入できる
          %br フリマアプリです
        .manini__hi__ki__btn
          .manini__hi__ki__btn__bt1
            = link_to '#' do
              = image_tag ("http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg")
          .manini__hi__ki__btn__bt2
            = link_to '#' do
              = image_tag ("http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg")
  .topinin
    %h2.topinin__subu
      FURIMAが選ばれる3つの理由
      %after
    %ul.topinin__lolo
      %li.topinin__lolo__lk1
        .topinin__lolo__lk1__gt
          %span.topinin__lolo__lk1__gt__na 1
          = image_tag ("pict-reason-01.jpg")
        %h3.topinin__lolo__lk1__rt
          %span 3分
          ですぐに出品
        %p.topinin__lolo__lk1__rt2
          スマホで入力するだけで簡単に出品できる!
      %li.topinin__lolo__lk2
        .topinin__lolo__lk2__gt2
          %span.topinin__lolo__lk2__gt2__na2 2
          = image_tag ("pict-reason-02.jpg")
        %h3.topinin__lolo__lk2__ol
          %span シンプル
          で使いやすい
        %p.topinin__lolo__lk2__rt3
          めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.topinin__lolo__lk3
        .topinin__lolo__lk3__gt3
          %span.topinin__lolo__lk3__gt3__na3 3
          = image_tag ("pict-reason-03.jpg")
        %h3.topinin__lolo__lk3__ds
          手数料
          %span 業界最安
        %p.topinin__lolo__lk3__rt4
          最大3%でお得に出品&購入！
  .topmimi
    .topmimi__mi1
      %h2.topmimi__mi1__za 会員数日本一位
      %p.topmimi__mi1__trtr
        FURIMは、フリマアプリで最も人気。
        %br 出品・購入回数も業界最多です!
        ほしかったあの商品に出会えるかもしれません。
      .topmimi__mi1__btbt
        .topmimi__mi1__btbt__t1
          = link_to '#' do
            = image_tag ("http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg")
        .topmimi__mi1__btbt__t2
          = link_to '#' do
            = image_tag ("http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg")
  .topfufu
    %h2.topfufu__hehe
      FURIMAの特徴
      %after
    .topfufu__iteite
      .topfufu__iteite__yuyu
        .topfufu__iteite__yuyu__rsrs
          = image_tag ("icon-01.png")
        %h3.topfufu__iteite__yuyu__fdfd 簡単に売り買いできる
        %p.topfufu__iteite__yuyu__wawa
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      .topfufu__iteite__yuyu2
        .topfufu__iteite__yuyu2__rsrs2
          = image_tag ("icon-03.png")
        %h3.topfufu__iteite__yuyu2__fdfd2 売上金は即日振込みに対応
        %p.topfufu__iteite__yuyu2__wawa2
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
      .topfufu__iteite__yuyu3
        .topfufu__iteite__yuyu3__rsrs3
          = image_tag ("icon-04.png")
        %h3.topfufu__iteite__yuyu3__fdfd3 様々な支払いに対応
        %p.topfufu__iteite__yuyu3__wawa3
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
  .wrapper
    = render "bottom-contents"


          
  




