%body
  .wrapper
    = render "top-contents"
.form1
  .contents
    = form_with model:@item, local:true do |f|
      .images
        .constraint
          .imageindicate
            出品画像
          .imagemust 
            必須
        .hidden-content
          = f.fields_for :images do |i|
            = i.file_field :image, class: "hidden-field"
            %input{class:"hidden-field", type: "file", name: "item[images_attributes][1][image]", id: "item_images_attributes_1_image" }
            %input{class:"hidden-field", type: "file", name: "item[images_attributes][2][image]", id: "item_images_attributes_2_image" }
            %input{class:"hidden-field", type: "file", name: "item[images_attributes][3][image]", id: "item_images_attributes_3_image" }
      .listing-form-box
        .listing-product-detail__category
          = f.label 'カテゴリー', class: 'listing-default__label'
          %span.listing-default--require ※必須
          
          .listing-select-wrapper
            .listing-select-wrapper__box
              = f.collection_select :category_id, @parents, :id, :name, {include_blank: "---"}, {class: 'listing-select-wrapper__box--select', id: 'parent_category'}
              %i.fas.fa-chevron-down.listing-select-wrapper__box--arrow-down
                   
      .name
        .item
          .iteminfo
            .iteminfo__name
              商品名
            .iteminfo__must
              ※必須
          = f.text_field :name, placeholder:"商品名記載",class: "nameform"
      .explain
        .item
          .iteminfo
            .iteminfo__name
              説明
            .iteminfo__must
              ※必須
          = f.text_area :explain, placeholder:"詳細記載",class: "explainform" 
      -# .listing-form-box
      -#   .listing-product-detail__category
      -#     = f.label 'カテゴリー', class: 'listing-default__label'
      -#     %span.listing-default--require ※必須

          -# .listing-select-wrapper
          -#   .listing-select-wrapper__box
          -#     = f.collection_select :category_id, @category_parent_array, :id, :name, {include_blank: "---"}, {class: 'listing-select-wrapper__box--select', id: 'parent_category'}
          -#     %i.fas.fa-chevron-down.listing-select-wrapper__box--arrow-down
             
      .brand
        .item
          .iteminfo
            .iteminfo__name
              ブランド
            .iteminfo__must
              ※任意
          = f.text_field :brand, placeholder:"指定なし",class: "nameform"
      .status
        .statuscontent
          .statusinfo
            .statusinfo__name
              商品の状態
            .statusinfo__must
              ※必須
          = f.collection_select :status_id ,Status.all, :id,:name ,class: "statusform"
      .area
        .areacontent
          .areainfo
            .areainfo__name
              発送元の地域
            .areainfo__must
              ※必須
          = f.collection_select :area_id ,Area.all, :id,:name ,class: "statusform"
      .limit
        .limitcontent
          .limitinfo
            .limitinfo__name
              発送までの日数
            .limitinfo__must
              ※必須
          = f.collection_select :limit_id ,Limit.all, :id,:name ,class: "limitform"
      .delivery_cost 
        .deliverycontent
          .deliveryinfo
            .deliveryinfo__name
              配送料の負担
            .deliveryinfo__must
              ※必須
          = f.collection_select :delivery_cost_id ,DeliveryCost.all, :id,:name,class: "deliveryform"
      .price
        .pricecontent
          .priceinfo
            .priceinfo__name
              価格
            .priceinfo__must
              ※必須
          = f.text_field :price , placeholder:" 販売価格(300~2,000,000)",class: "priceform"            

      .new
        = f.submit "出品する",class: "newbtn"            
      