.wrapper
  = render "items/top-contents"
.card-main
  .card-main__contents
    = form_tag(pay_cards_path, method: :post, id: 'charge-form', name: "inputForm") do
      .card-main__contents__number
        %label カード番号
        %span 必須
        = text_field_tag "number", "", class: "number", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "card_number"
      %ul.card__logo
        %li 
          = image_tag 'visa_logo.png', width:'40', height: '40' ,alt: 'visaロゴ'
        %li 
          = image_tag 'mastercard.gif', width: '40' ,height:'40', alt: 'mastercardロゴ'
        %li 
          = image_tag 'saison_icon.png', width: '40' ,height:'40', alt: 'saioncardロゴ'
        %li
          = image_tag 'jcb_logo.jpeg', width: '40' ,height:'40', alt: 'jcbcardロゴ'
        %li
          = image_tag 'american-express_logo.jpg', width: '40', height:'40', alt: 'americancardロゴ'
      .card-main__contents__limit
        %label 有効期限
        %span 必須
        %select#exp_month{name: "exp_month", type: "text"}
          %option{value: ""} --
          %option{value: "1"}01
          %option{value: "2"}02
          %option{value: "3"}03
          %option{value: "4"}04
          %option{value: "5"}05
          %option{value: "6"}06
          %option{value: "7"}07
          %option{value: "8"}08
          %option{value: "9"}09
          %option{value: "10"}10
          %option{value: "11"}11
          %option{value: "12"}12
        %span2 月  /
        %select#exp_year{name: "exp_year", type: "text"}
          %option{value: ""} --
          %option{value: "2019"}19
          %option{value: "2020"}20
          %option{value: "2021"}21
          %option{value: "2022"}22
          %option{value: "2023"}23
          %option{value: "2024"}24
          %option{value: "2025"}25
          %option{value: "2026"}26
          %option{value: "2027"}27
          %option{value: "2028"}28
          %option{value: "2029"}29
        %span2 年
      .card-main__contents__pass
        %label セキュリティコード
        %span 必須
        = text_field_tag "cvc", "", class: "cvc", placeholder: "カード背面3~4桁の番号", maxlength: "4", id: "cvc"
      .card-main__contents__btn#card_token
        = submit_tag "追加する", id: "token_submit"
.wrapper
  = render "items/bottom-contents"