.wrapper
  = render "items/top-contents"
.card-main
  .card-main__contents
    .card-main__contents__index
      %label 登録済クレジットカード情報
    .card-main__contents__index__number
      .number-title
        カード番号
      .number-last4
        = "**** **** **** " + @default_card_information.last4
    .card-main__contents__index__limit
      .limit-title
        カード期限
      .limit-index
        - exp_month = @default_card_information.exp_month.to_s
        - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
        = exp_month + " / " + exp_year
    
    .card-main__contents__link
      .card-main__contents__link__top
        = link_to root_path do
          %button トップページに戻る
      .card-main__contents__link__my-page
        = link_to user_path(current_user) do
          %button マイページに戻る
      .card-main__contents__link__delete
        = link_to delete_cards_path, method: :post do
          %input{ type: "hidden", name: "card_id", value: "" }
          %button このカード情報を削除する
        -# = form_tag(delete_cards_path, method: :post, id: 'charge-form',  name: "inputForm") do
.wrapper
  = render "items/bottom-contents"




